* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000d15;
    z-index: 0;
}

body {
    font-family: "Cantarell", sans-serif;
    color: #B8D8D8;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 500px 0px 30px 0px;
    text-align: center;
    font-size: 40px
}

header p {
    font-size: 20px;
}

.pads {
    width: 100%;
    display: flex;
}

.pads>div {
    height: 155px;
    width: 100px;
    flex: 1;
    background: #fffef7;
    border-radius: 10%;
}

@keyframes jump {
    0% {
        bottom: 0%;
    }
    50% {
        bottom: 100%;
    }
    100% {
        bottom: 0%;
    }
}

.visual>div {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0;
    z-index: -1;
}